.transaction-form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
}
.transaction-form label {
    width: 70px;
    margin: 15px;
    height: 20px;
    font-size: 16px;  
    margin-bottom: 5px;
    text-align: center;
    padding: 7px 0;
}
.transaction-form input {
    width: 200px;
    padding: 5px;
    margin: 15px;
    height: 20px;

    }
    

input::placeholder {
    text-align: center; 
    color: #999; 
    opacity: 0.5; 
}
.transaction-form select {
        width: 200px;
        padding: 5px;
        margin: 15px;
        height: 35px;
    
        }
.transaction-form button {
    display: flex;
    flex: 1;
    width: 160px;
    flex-direction: row;
    justify-content: flex-end; 
    margin-top: 10px; 
}

.button-group button {
    margin-left: 10px;
}


